

# Byte-compiled / optimized / DLL files
	

__pycache__/
	

*.py[cod]
	

*$py.class
	

 
	

# IDE
	

/.idea
	

/data
	

conf/config_local.yml
	

*.env
	

 
	

# C extensions
	

*.so
	

.envrc
	

 
	

# Distribution / packaging
	

.Python
	

develop-eggs/
	

dist/
	

downloads/
	

eggs/
	

.eggs/
	

lib/
	

lib64/
	

parts/
	

sdist/
	

var/
	

wheels/
	

share/python-wheels/
	

*.egg-info/
	

.installed.cfg
	

*.egg
	

MANIFEST

venv/

ml-20m/